<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="col-3">
        <div>
            <h2 th:text="${object.codice + ' ' + object.nome}"></h2>
        </div>
        <div>
            <div><b>categoria: </b><span th:text="${object.categoria}"></span></div>
        </div>
        <div>
            <div><b>Anno produzione: </b><span th:text="${object.annoProduzione}"></span></div>
        </div>

        <div>
            <a th:href="@{/}" class="btn btn-primary">Indietro</a>
        </div>
    </div>
</body>
</html>